{% include 'partials/head.twig' %}

<section class="hero is-info is-bold">
    <div class="hero-head">
        {% include 'partials/nav.twig' %}
    </div>
</section>

{% if questions is not empty %}
    <script>var exercice = true;</script>
    <section class="section page">
        <div class="container page__container">
            <form method="POST" class="exercice">
                {% for question in questions %}
                    <input type="hidden" name="{{loop.index}}[type_id]" value="{{question.type}}">
                    <input type="hidden" name="{{loop.index}}[question_id]" value="{{question.id}}">
                    {% if question.type == 1 %}
                        <div class="box box-1" style="display:none" data-audio="{{ question.text|e }}" data-proposals="{{ question.proposals|e }}" data-answer="{{ question.answer|e }}">
                            <h1 class="page__container--title">Écoute attentivement et réécris le mot avec les lettres manquantes !</h1>
                             <button class="button button-sound is-primary" type="button">
                                <img src="/Plumi/www/assets/img/loudspeaker2.svg" alt="" class="loudspeaker">
                            </button>
                            <p class="question-input">{{ question.input }}</p>
                            <p class="answer" style="display: none">{{ question.text|e }}</p>
                            <div class="proposals"></div>
                            <div class="page__container--blockRep">
                                <input type="text" spellcheck ="false" name="{{loop.index}}[answer]" class="input-answer" placeholder="Ecris ta réponse ici !">
                            </div>
                            <p class="success" style="display: none">Félicitations</p>
                            <p class="fail" style="display: none">Mauvaise réponse</p>
                            <input type="hidden" class="input-is-success" name="{{loop.index}}[success]" value="0">
                            <button class="button button-validate is-primary" type="button">Valider</button>
                            <button class="button button-next is-primary" style="display:none" type="button">Question suivante</button>
                    {% elseif question.type == 2 %}
                        <div class="box box-2" style="display:none" data-proposals='{{ question.proposals|e }}' data-answer='{{ question.answer|e }}' data-tips='{{ question.tips|e }}'>
                            <h1 class="page__container--title">Trouve le bon mot</h1>
                            <div class="question-tips page__container--indices"></div>
                            <div class="button-cave page__container--choices"></div>
                            <input type="hidden" name="{{loop.index}}[answer]" class="input-answer">
                            <p class="success" style="display: none">Félicitations</p>
                            <p class="fail" style="display: none">Mauvaise réponse</p>
                            <input type="hidden" class="input-is-success" name="{{loop.index}}[success]" value="0">
                            <button class="button button-validate is-primary" type="button">Valider</button>
                            <button class="button button-next is-primary" style="display:none" type="button">Question suivante</button>
                    {% elseif question.type == 3 %}
                        <div class="box box-3" style="display:none" data-answer="{{ question.text|e }}" data-audio="{{ question.text|e }}">
                            <h1 class="page__container--title">Dictée</h1>
                            <h2>Conseil : Une phrase commence par une majuscule et finit par un point.</h2>
                            <p class="answer" style="display: none">{{ question.text|e }}</p>
                            <div class="page__container--blockRep">
                                <input type="text" spellcheck ="false" name="{{loop.index}}[answer]" class="input-answer">
                            </div>
                            <p class="success" style="display: none">Félicitations</p>
                            <p class="fail" style="display: none">Mauvaise réponse</p>
                            <input type="hidden" class="input-is-success" name="{{loop.index}}[success]" value="0">
                            <button class="button button-validate is-primary" type="button">Valider</button>
                            <button class="button button-next is-primary" style="display:none" type="button">Question suivante</button>
                            <button class="button button-sound is-primary" type="button">
                                <img src="/Plumi/www/assets/img/loudspeaker2.svg" alt="">
                            </button>
                    {% endif %}
                    </div>
                {% endfor %}
                <div class="box" style="display: none;">
                    <h1>Bravo, clique pour envoyer tes réponses</h1>
                    <input class="button is-primary" type="submit"></input>
                </div>
            </form>
        </div>
    </section>

{% endif %}

{% include 'partials/foot.twig' %}
