<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>{{title}}</title>
<!--     <link rel="stylesheet" href="{{app.request.basepath}}/assets/vendor/bulma/bulma.min.css"> -->
    <link rel="stylesheet" href="{{app.request.basepath}}/assets/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="{{app.request.basepath}}/assets/vendor/fa/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{app.request.basepath}}/assets/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
</head>

<body>
