
    {#
    <nav class="nav">
        <div class="container">
            <div class="nav-left">
                <a class="nav-item" href="{{app.request.basepath}}/">
                    <span class="title is-4">{{sitename}}</span>
                </a>
            </div>

            <span class="nav-toggle">
                <span></span>
                <span></span>
                <span></span>
            </span>

            <div class="nav-right nav-menu">
                <a class="nav-item" href="{{ url('exercise', {type: 1, id: 1}) }}">Exercice 1</a>
                <a class="nav-item" href="{{ url('exercise', {type: 2, id: 1}) }}">Exercice 2</a>
                <a class="nav-item" href="{{ url('exercise', {type: 3, id: 1}) }}">Exercice 3</a>

                {% if user %}
                    <a class="nav-item" href="{{ url('logout') }}">Déconnexion</a>
                {% else %}
                    <a class="nav-item" href="{{ url('login') }}">Connexion</a>
                {% endif %}
            </div>
        </div>
    </nav>
    #}

    <nav class="nav">
        <div class="nav__block nav__block--left">
            <div class="nav__blockItem nav__blockItem--logo">
            {% if user %}
                <a href="{{url('hub')}}"  class="nav__linkHome">
                    <img src="{{app.request.basepath}}/assets/img/logo.svg" alt="Menu">
                    <p>Plumi</p>
                </a>
            {% else %}
                <a href="{{app.request.basepath}}"  class="nav__linkHome">
                    <img src="{{app.request.basepath}}/assets/img/logo.svg" alt="Menu">
                    <p>Plumi</p>
                </a>
            {% endif %}
            </div>
        </div>

        <div class="nav__block nav__block--right">
            <div class="nav__blockItem nav__blockItem--btn">
                <a href="#">
                    <div><img src="{{app.request.basepath}}/assets/img/about.svg" alt="A propos"></div>
                </a>
                <a href="#">
                    <div><img src="{{app.request.basepath}}/assets/img/loudspeaker.svg" alt="Volume"></div>
                </a>
                <a href="#">
                    <div><img src="{{app.request.basepath}}/assets/img/text-a.svg" alt="Taille de la police"></div>
                </a>
                {% if user %}
                    <a class="nav-item" href="{{ url('logout') }}">Déconnexion</a>
                {% else %}
                    <a class="nav-item" href="{{ url('login') }}">Connexion</a>
                {% endif %}
            </div>
        </div>
    </nav>
